.click {
  display: none;
  
}

.click2 {
  width: 20px;
  height: 20px;
}

#hidden {
  display: flex;
  flex-direction: column;
  margin-left: -20px;
}
.App {
  font-size: 13px ;
  text-align: center;
  text-align: center;
  z-index: 1;
  font-family:'Times New Roman', Times, serif;
  font-weight: 800;
  min-width: 320px;

}


.headercul {
  max-width: 320px;
  display: block;
  margin: auto;

}

.footercul {

  width: 320px;
  display: block;
  align-items: center;
  margin: auto;
}

.welcome {
  border: 8px solid black;
  border-image: url("https://i.ibb.co/n6LTKgW/tumblr-inline-o98msk-Fn-Tn1u2r0ws-540.png") repeat;
  border-image-slice: 37%;
  padding: 3%;
  float: left;
  float: right;
  background-color: white;
  margin-top: 30px;
  min-height: 90%;


}

.leftcont {
  border: 8px solid black;
  border-image: url("https://i.ibb.co/n6LTKgW/tumblr-inline-o98msk-Fn-Tn1u2r0ws-540.png") repeat;
  border-image-slice: 37%;
  padding: 3%;
  background-color: white;
  margin-top: 30px;
  min-height: 90%;
  }

.righcont {
  border: 8px solid black;
  border-image: url("https://i.ibb.co/n6LTKgW/tumblr-inline-o98msk-Fn-Tn1u2r0ws-540.png") repeat;
  border-image-slice: 37%;
  padding: 3%;
  background-color: white;
  margin-top: 30px;
  min-height: 81%;
  
}



      /* images */
.email {
  width: 60%;
  height: 60%;
}
.cirera {
  width: 100%;
  margin-bottom: 20px;
}

.sailor {
  width: 100%;
}

.cul {
  width: 60%;
}

.back {
  width: 100%;
  min-width: 320px;
  min-height: 800px;
  max-height: 1200px;
  z-index: -1;
  position: absolute;
  
}

.hello {
  width: 90%;
}

/* navbar */

.lazo {
  list-style: none;
  background-position: left;
  background-image: url('https://i.pinimg.com/564x/ba/62/28/ba6228a3b57bc2e51c36e2a2383f43cd.jpg');
  background-size: 4.5vh;
  background-repeat: no-repeat;
  height: 20px;
}

.icecream{
  list-style: none;
  background-position: left;
  background-image: url('https://64.media.tumblr.com/6505ea8fcfb38705c74f9afda0473fa6/e20f83b00e4c1559-57/s500x750/5f2dde5347fcbc12af2af7667c41654b815e997b.png');
  background-size: 3.5vh;
  background-repeat: no-repeat;
  height: 20px;
  

}

.cupcake{
  list-style: none;
  background-position: left;
  background-image: url('https://img2.freepng.es/20180511/uuq/kisspng-sailor-moon-sailor-tattoos-drawing-5af5a911ca8146.0662371615260490418295.jpg');
  background-size: 3.5vh;
  background-repeat: no-repeat;
  height: 20px;

}

.cake{
  list-style: none;
  background-position: left;
  background-image: url('https://e1.pngegg.com/pngimages/181/335/png-clipart-luna-sailor-moon-purple-and-black-cat-illustration-thumbnail.png');
  background-size: 5.5vh;
  background-repeat: no-repeat;
  height: 20px;
}

.linksig {
  list-style: none;
  background-position: left;
  background-size: 2.5vh;
  background-repeat: no-repeat;
  height: 20px;
  font-size: 1.5vh;
  margin-bottom: 10px;
  margin-left: 7px;

}

.linkstw {
  list-style: none;
  background-position: left;
  background-size: 2.5vh;
  background-repeat: no-repeat;
  height: 20px;
  font-size: 1.8vh;
  margin-bottom: 10px;
  margin-left: 7px;


}



.text--style {
  text-decoration: none;
  color: rgb(88, 161, 221);
  margin-left: 10px;
}

@media screen and (max-device-width:640px) {
  .icecream .lazo .cake .cupcake {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .click {
    display: block;
  }
  .navbar--links {
    display: none;
  }
}


.music {
  width: 20px;
  height: 20px;
}

.audio {
  max-height: 30px;
  background:#000080 ;
  border-width:1px;
  border-color:#FFFFFF #808080 #808080 #FFFFFF;
  border-style:solid;
  padding:1px;
}